*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, a, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}

body, html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 700;
}

p, a {
  font-family: 'Roboto';
  font-weight: 300;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button {
  height: 40px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_find {
  background: #FF4E50;
  color: white;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

@media (min-width: 992px) {
  .button_find:hover {
    border: 2px solid #FF4E50;
    color: #FF4E50;
    background: none;
  }
}

.button_limit {
  border: 2px solid #FF4E50;
  color: #FF4E50;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

@media (min-width: 992px) {
  .button_limit:hover {
    background: #FF4E50;
    color: white;
    border: 0;
  }
}

.figure {
  border-radius: 4px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 240px;
          flex: 1 1 240px;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .figure {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.333%;
            flex: 1 1 33.333%;
  }
}

@media (min-width: 992px) {
  .figure:hover .figure__back {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .figure:hover .figure__marker {
    width: 75px;
    height: 25px;
    font-size: 11px;
  }
  .figure:hover .figure__text {
    font-size: 15px;
  }
  .figure:hover .figure__title, .figure:hover .figure__smaller-title {
    font-size: 25px;
  }
  .figure:hover::before {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.figure::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.figure__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 100%;
  padding: 16px 30px 16px 20px;
}

@media (min-width: 1440px) {
  .figure__container {
    padding: 21px 25px;
  }
}

.figure__marker {
  width: 70px;
  height: 20px;
  border-radius: 40px;
  background-color: #FF4E50;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  color: #E3E3E3;
  margin: 0 0 30px 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

@media (min-width: 768px) {
  .figure__marker {
    margin: 0 0 16px 0;
  }
}

@media (min-width: 1440px) {
  .figure__marker {
    margin: 0 0 30px 0;
  }
}

.figure__title, .figure__smaller-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 58%;
  color: white;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

@media (min-width: 1440px) {
  .figure__title, .figure__smaller-title {
    line-height: 108%;
  }
}

.figure__smaller-title {
  line-height: 58%;
}

.figure__text {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  margin: 22px 0 0 0;
  color: #E3E3E3;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.figure__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -50;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.figure__back img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.figure-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 740px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px 0;
}

@media (min-width: 768px) {
  .figure-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0 20px;
    min-height: 400px;
  }
}

.flex-wrap-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .flex-wrap-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 35px 20px;
  }
}

@media (min-width: 992px) {
  .flex-wrap-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 0 19px;
  }
}

.gallery {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  grid-auto-rows: 120px;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .gallery {
    gap: 20px;
    -ms-grid-rows: 310px 310px 310px;
        grid-template-rows: 310px 310px 310px;
    -ms-grid-columns: 31.5% 31.5% 31.5%;
        grid-template-columns: 31.5% 31.5% 31.5%;
  }
}

@media (min-width: 768px) and (min-width: 1440px) {
  .gallery {
    -ms-grid-columns: 32.2% 32.2% 32.2%;
        grid-template-columns: 32.2% 32.2% 32.2%;
  }
}

.gallery__item {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.gallery__item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

@media (min-width: 992px) {
  .gallery__item:hover .gallery__item-back {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .gallery__item:hover .gallery__item-title {
    font-size: 23px;
  }
  .gallery__item:hover::before {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.gallery__item-container, .gallery__item-container-smaller, .gallery__item-container-bigger {
  max-width: 87.28%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__item-container-smaller {
  max-width: 65%;
}

@media (min-width: 768px) {
  .gallery__item-container-smaller {
    max-width: 79%;
  }
}

.gallery__item-container-bigger {
  max-width: 90%;
}

@media (min-width: 768px) {
  .gallery__item_big {
    grid-column: span 2;
  }
}

.gallery__item-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: white;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.gallery__item-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -50;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.gallery__item-back img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 237px;
  min-width: 221px;
  text-align: center;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

@media (min-width: 992px) {
  .person:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (min-width: 1440px) {
  .person_xxl-order_1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .person_xxl-order_2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .person_xxl-order_3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .person_xxl-order_4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.person__avatar {
  position: relative;
}

.person__avatar-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.person__icon {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 83px;
  top: 83px;
  border: 5px solid white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person__icon_color-red {
  background: #FF4E50;
}

.person__icon_color-yellow {
  background: #FFA710;
}

.person__icon_color-aqua {
  background: #19D4CA;
}

.person__icon_color-blue {
  background: #667DF3;
}

.person__name {
  margin: 17px 0 0 0;
}

.person__description {
  font-size: 14px;
  line-height: 100%;
  color: #666666;
  margin: 24px 0 0 0;
}

.searchform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px 0;
}

@media (min-width: 768px) {
  .searchform {
    gap: 0 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.searchform__input-wrapper {
  width: 100%;
  overflow: hidden;
  background: white;
  border: 1px solid #D4D4D4;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
}

@media (min-width: 768px) {
  .searchform__input-wrapper {
    width: 299px;
  }
}

.searchform__input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 0;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #999999;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 15px;
}

.searchform__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.searchform__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.searchform__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.searchform__input::placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.searchform__button {
  width: 280px;
  border: 0;
}

@media (min-width: 768px) {
  .searchform__button {
    width: 172.12px;
  }
}

.important-title {
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: white;
}

@media (min-width: 768px) {
  .important-title {
    font-size: 52px;
    line-height: 63px;
  }
}

.second-title {
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #444444;
}

@media (min-width: 1440px) {
  .second-title {
    font-size: 26px;
    line-height: 32px;
  }
}

.third-title {
  font-size: 14px;
  line-height: 17px;
  color: #444444;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 47.8125%;
  min-height: 178px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .header__container {
    min-height: 100%;
    padding-top: 40px;
    width: 87.23958%;
  }
}

@media (min-width: 1440px) {
  .header__container {
    width: 62.56944%;
  }
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .header__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.header__links-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__log-in {
  color: white;
}

@media (min-width: 992px) {
  .header__log-in:hover {
    text-decoration: underline;
  }
}

.header__sign-up {
  width: 90px;
  height: 36px;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

@media (min-width: 992px) {
  .header__sign-up:hover {
    background: #FF4E50;
    color: white;
    border: 0;
  }
}

.header__logo {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.header__logo a {
  color: white;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 768px) {
  .main {
    gap: 95px 0;
  }
}

.main__container {
  max-width: 93.75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px 0;
}

@media (min-width: 768px) {
  .main__container {
    max-width: 97.39583%;
    gap: 95px 0;
  }
}

@media (min-width: 1440px) {
  .main__container {
    max-width: 65.27778%;
  }
}

.main__promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 540px;
  width: 100%;
}

@media (min-width: 768px) {
  .main__promo {
    min-height: 700px;
  }
}

.main__promo-body {
  width: 84.8%;
  margin: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px 0;
}

@media (min-width: 768px) {
  .main__promo-body {
    width: 470px;
    margin: 0;
    gap: 33px 0;
  }
}

.main__promo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5.5px 0;
}

@media (min-width: 768px) {
  .main__promo-text {
    gap: 28.5px 0;
  }
}

.main__promo-text {
  font-size: 18px;
  line-height: 136%;
  text-align: center;
  color: #F7F3F2;
}

@media (min-width: 768px) {
  .main__promo-text {
    font-size: 24px;
    line-height: 102%;
  }
}

.main__promo-button {
  width: 280px;
}

@media (min-width: 768px) {
  .main__promo-button {
    width: 225px;
  }
}

@media (min-width: 992px) {
  .main__promo-button:hover {
    border: 2px solid white;
    color: white;
  }
}

.main__promo-back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -50;
}

.main__promo-back-img {
  width: 100%;
  min-height: 540px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .main__promo-back-img {
    min-height: 700px;
  }
}

.main__how-it-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__how-it-works-figure-items {
  margin: 15px 0 0 0;
}

@media (min-width: 768px) {
  .main__how-it-works-figure-items {
    margin: 35px 0 0 0;
  }
}

@media (min-width: 1440px) {
  .main__how-it-works-figure-items {
    margin: 29px 0 0 0;
  }
}

.main__meet-partner-container {
  max-width: 93.5%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .main__meet-partner-container {
    max-width: 67%;
  }
}

@media (min-width: 1440px) {
  .main__meet-partner-container {
    max-width: 100%;
  }
}

.main__meet-partner-flex-wrap-container {
  margin: 14px 0 0 0;
}

@media (min-width: 768px) {
  .main__meet-partner-flex-wrap-container {
    margin: 35px 0 0 0;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 1440px) {
  .main__meet-partner-flex-wrap-container {
    margin: 29px 0 0 0;
  }
}

.main__meet-partner-button {
  width: 280px;
  margin: 36px 0 0 0;
}

@media (min-width: 768px) {
  .main__meet-partner-button {
    width: 180px;
    margin: 40px 0 0 0;
  }
}

.main__ideas-gallery {
  margin: 33px 0 0 0;
}

.main__interests-container {
  max-width: 93.5%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .main__interests-container {
    max-width: 482px;
  }
}

@media (min-width: 1440px) {
  .main__interests-container {
    max-width: 100%;
  }
}

.main__interests-body {
  margin: 19px 0 0 0;
}

@media (min-width: 768px) {
  .main__interests-body {
    margin: 52px 0 0 0;
  }
}

@media (min-width: 1440px) {
  .main__interests-body {
    margin: 41px 0 0 0;
  }
}

.main__interests-text {
  font-size: 18px;
  line-height: 78%;
  text-align: center;
  color: #666666;
}

.main__interests-searchform {
  margin: 15px 0 0 0;
}

@media (min-width: 768px) {
  .main__interests-searchform {
    margin: 25px 0 0 0;
  }
}

.footer {
  border-top: 2px solid #FF4E50;
}

.footer_margin-top {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .footer_margin-top {
    margin-top: 100px;
  }
}

.footer__container {
  max-width: 87.5%;
  margin: 0 auto;
  padding: 19px 0 22px 0;
}

@media (min-width: 768px) {
  .footer__container {
    max-width: 90.10417%;
    padding: 36px 0 20px 0;
  }
}

@media (min-width: 1440px) {
  .footer__container {
    max-width: 65.27778%;
    padding: 40px 0 36px 0;
  }
}

.footer__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  gap: 13px 0;
}

@media (min-width: 768px) {
  .footer__grid {
    -ms-grid-columns: 30% 33% 31%;
        grid-template-columns: 30% 33% 31%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 0 20px;
  }
}

@media (min-width: 1440px) {
  .footer__grid {
    -ms-grid-columns: 24% 32% 40%;
        grid-template-columns: 24% 32% 40%;
  }
}

.footer__logo {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .footer__logo {
    justify-self: flex-start;
  }
}

.footer__logo a {
  color: #FF4E50;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px 0;
}

@media (min-width: 768px) {
  .footer__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .footer__nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1px 0 0 0;
  gap: 0px 10px;
}

@media (min-width: 768px) {
  .footer__nav-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 11px 0 0 0;
  }
}

.footer__nav-item {
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}

@media (min-width: 992px) {
  .footer__nav-item:hover {
    text-decoration: underline;
  }
}

.footer__designed-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .footer__designed-by {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.footer__designed-by-caption {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #CCCCCC;
}

.footer__designed-by-logo {
  display: block;
  margin-top: 7px;
}
/*# sourceMappingURL=main.css.map */